@import url('https://fonts.googleapis.com/css?family=Cairo:300,700|Source+Code+Pro:500,700');
/*
--How to use fonts--
font-family: 'Source Code Pro', monospace;
font-family: 'Cairo', sans-serif;

*/

*{
    box-sizing: border-box;
    transition: all ease-in-out 250ms;
}

body {
    font-family: 'Source Code Pro', monospace;
    margin: 0;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 95%;
    max-width: 70em;
    margin: 0 auto;
}

.clearfix::after, . section::after, footer::after {
    content: '';
    display: block;
    clear: both;

}

.unstyled-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/*---------------column system---------------*/

[class^=col-] {
    width: 100%;
    margin-top: 1em;
}

[class^=col-]:first-child {
    margin-top: 0;
}

.col-1 {
    width: 33.333333%;
    float: left;
}

@media (min-width: 40rem) {
    [class^=col-] {
        float: left;
        padding: 0.5em;
        margin-top: 0;
    }

    [class^=col-]::first-child {
        padding: 0em;
    }

    [class^=col-]:last-child {
        padding: 0em;
    }

    .col-3 {
        width: 100%;
    }

    .col-1 {
        width: 16.6666%;
    }
}

/*---------------typography---------------*/

h1 {
    font-weight: 700;
    font-size: 2em;
}

p {
    margin-top: 0;
    line-height: 1.7;
}

p:last-of-type {
    margin-bottom: 0;
}


.title-text {
    font-family: 'Cairo', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 1em;
}

.title-text span {
    display: block;
    font-weight: 300;
    font-size: .9em;
}

.title-cta {
    margin: 0 0 .5em;
}

@media (min-width:70rem) {

    p {
        font-size: 1.2rem;
        line-height: 1.6;
    }

    .title-text {
        font-size: 2.75rem;
    }
}

/*---------------button---------------*/
.button {
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    font-size: 1.1rem;
    text-decoration: none;
    text-transform: uppercase;
    padding: .5em 1.75em;
}

@media (min-width:60rem) {
    .button {
        font-size: 1.5rem;
    }
}

.button-small {
    font-size: .7rem;
    font-weight: 700;
}

.button-accent {
    border-color: #00ff6c;
    color: #00ff6c;
}

.button-accent:hover, .button-accent:focus {
    background: #00ff6c;
    color: #232323;
}

.button-dark {
    border-color: #232323;
    color: #232323;
}

.button-dark:hover, .button-dark:focus {
    background: #232323;
    color: #00ff6c;
}

/*---------------header---------------*/
header {
    left: 0;
    margin: 1em;
    position: absolute;
    right: 0;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 1em;
}

nav a {
    color: #FFF;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8rem;
    padding: .5em;
}

nav a:hover, nav a:focus {
    color: #ddd;
}

@media (min-width:60rem) {
    .logo {
        float: left;
    }
    nav {
        float: right;
    }
}


/*---------------upper intro---------------*/

.upper-intro {
    background-image: url(../img/header.jpg);
    background-size: cover;
    background-position: center;
    color: #FFF;
    padding: 10em 0;
}

@media (min-width:60rem) {
    .upper-intro {
        height: 100vh;
        padding: 25vh;
    }
}

/*---------------about intro---------------*/

.about-textbox {
    background-color: #232323;
    padding: 4em;
    width: 100vw;
    margin-left: -2.5%;
    outline: 2px solid #00ff6c;
    outline-offset: -2.5em;
    color: #fff;
    position: relative;
}

.about-textbox h1 {
    color: #00ff6c;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -.25em;
    background: #232323;
    padding: 0 .25em;
}

@media (min-width: 25rem) {
    h1 {
        font-size: 1.75rem;
    }

    .about-textbox h1 {
        top: -.1em;
        padding: 0 .5em;
    }
}

@media (min-width: 60rem) {
    h1 {
        font-size: 2rem;
    }

    .about-intro {
        background-image: url("../img/who-we-are.jpg");
        background-repeat: no-repeat;
        padding-bottom: 20em;
    }

    .about-textbox {
        width: 60%;
        padding: 5em;
        top: -4em;
        outline-offset: -3em;
        margin-left: -7.5%;
        text-align: left;
        box-shadow: 0 0 4em 0 rgba(0,0,0,.5);
    }

    .about-textbox h1 {
        top: -.05em;
        left: 3em;
        transform: translateX(0);
    }
}

/*---------------portfolio---------------*/
.portfolio {
    margin: 3em 0 0;
}

.port-item {
    margin: 0;
    position:  relative;
}

.port-item img {
    display: block;
}

.port-desc {
    position: absolute;
    z-index: 100;
    bottom: 0em;
    left: 0em;
    right: 0em;
    color: #fff;
    background: rgba(0,0,0,.6);
    padding-bottom: 2em;
}

.port-desc p {
    margin: 1em;
}

@media (min-width: 37rem) {
    .port-item {
        width: 50%;
        float: left;
    }
}

@media (min-width: 60rem) {
    .port-item {
        width: 33.333333334%;
        overflow: hidden;
    }

    .port-desc {
        transform: translateY(150%);
    }

    .port-item:hover .port-desc{
        transform: translateY(0%);
    }
}

/*---------------cta---------------*/

.cta {
    background-color: #00ff6c;
    padding: 3em 0;
}

/*---------------footer---------------*/

footer {
    background: #232323;
    color: #FFFFFF;
    text-align: left;
    padding: 7em 0;

}
